<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zengwei.threeeggs">
    <!--网络请求权限-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".ThreeEggsApplication"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Guide.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.MainActivity"></activity>
        <activity android:name="com.example.z_order.orderPage.OrderPageActivity"></activity>
        <activity android:name="com.example.z_home.HomeItem.Category.CategoryActivity"></activity>
        <activity android:name="com.example.z_home.Address.AddressActivity"></activity>
        <activity android:name="com.example.z_home.Search.SearchActivity"></activity>
        <activity android:name="com.example.z_goods.SearchGoodsList.SearchGoodsListActivity"></activity>
        <activity android:name="com.example.z_login_register.LR.LRActivity"></activity>
        <activity android:name="com.example.z_my.Collection.CollectionActivity"></activity>
        <activity android:name="com.example.z_my.History.HistoryActivity"></activity>
        <activity android:name="com.example.z_issue.Issue.IssueActivity"></activity>
        <activity android:name="com.example.z_my.UserEditor.UserEditorActivity"></activity>
        <activity android:name="com.example.z_home.HomeItem.FineStore.FineStoreActivity"></activity>
        <activity android:name="com.example.z_home.HomeItem.GoodsItem.GoodsItemActivity"></activity>
        <activity android:name="com.example.z_home.HomeItem.CircleList.CircleListActivity"></activity>

        <!--高德定位的服务组件-->
        <service android:name="com.amap.api.location.APSService"></service>
        <!--高德定位-->
        <meta-data android:name="com.amap.api.v2.apikey" android:value="7fdf0479ed81633a4c50d84fdb595739"></meta-data>



        <!--适配框架-->
        <meta-data android:name="design_width_in_dp" android:value="360"/>
        <meta-data android:name="design_height_in_dp" android:value="640"/>

        <!--qq登陆-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent101770446" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>



</manifest>